<!DOCTYPE html>
<html>
<head>
 <title>Welcome</title>

 <%include partials/_header%>
</head>
<body>
 <div class="jumbotron">
   <h1>Welcome</h1>
   <p>Welcome to Decision Maker, we help you create polls and send them to your friends.</p>
   <p><a class="btn btn-primary btn-lg" href="/poll" role="button">Create poll</a></p>
 </div>
</body>
</html>
