<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decision Maker</title>

    <%include partials/_header%>

  </head>

  <body>


  <div class="jumbotron">
    <h1>Create Poll</h1>

      <form action="/poll" method="POST">
        <div class="form-group">
          <label for="poll_title">Name of your poll</label>
          <input type="text" class="form-control" id="poll_title" placeholder="Poll" name="poll_title">
        </div>
        <div class="form-group">
          <label for="poll_description">Describe your poll in a few words</label>
          <input type="text" class="form-control" id="poll_description" placeholder="Description" name="poll_description">
        </div>
        <label for="admin_email">Enter your email</label>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Creator email" aria-describedby="basic-addon2" name="admin_email">
          <span class="input-group-addon" id="basic-addon2">Tony@example.com</span>
        </div>
        <label for="voter_email">Enter recipients with a comma in between each email</label>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Recipient's email" aria-describedby="basic-addon2" name="voter_email">
          <span class="input-group-addon" id="basic-addon2">TonysFriend@example.com</span>
        </div>
         <div class="form-group">
          <label for="choice_name">Enter your options with a comma in between each one</label>
          <input type="text" class="form-control" id="choice_name" placeholder="Description" name="choice_name">
        </div>
        <input type="submit">
      </form>

  </div>

  </body>
</html>
