<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Decision Maker</title>

  <%include partials/_header%>

 </head>

 <body>
  <h1>Poll Title</h1>

   <h2>Poll rankings:</h2>
  <ol>
  <% for (var choice of choices) { %>


    <li data-id="<%= choice.choice_id %>" data-count="<%= choice.borda_score %>">



    Choice:
    <%= choice.choice_name %>

    -

    Preferential Score:
    <%= choice.borda_score %>
    </li>

  <% } %>
  </ol>



 </body>
</html>
