<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Decision Maker</title>

  <%include partials/_header%>

 </head>

 <body>
  <h1>Poll Title</h1>

  <ol class='choices'>
  <% for (var choice of choices) { %>

    <li data-id="<%= choice.choice_id %>">
    <%= choice.choice_name %>
    </li>


  <% } %>
  </ol>

  <button id='submit-button'>Submit your results</button>

 </body>
</html>
